.container {
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.back {
    width: 64px;
    height: 64px;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(12, 187, 222);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 16px 0 0 16px;
}
.back:hover {
    opacity: 0.6;
}
.main_container {
    width: 80%;
}

.item_table {
    margin-top: 36px;
}
.item_main {
    margin-top: 16px;
    display: flex;
    width: 70%;
}
.table_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_main_container {
    display: flex;
}
.search {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input_ip {
    width: 100%;
    height: 100%;
    padding: 14px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid gray;
    outline: none;
    font-size: 24px;
}
.search_input {
    width: 85%;
}
.search_icon {
    font-size: 28px;
    font-weight: 200;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_icon:hover {
    opacity: 0.4;
}
.search_main {
    width: 45%;
    border: 1px solid gray;
    border-radius: 4px;
}
.item_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 58px;
    border: 1px solid gray;
    border-radius: 4px;
}
.item_left_main {
    p {
        font-size: 24px;
        font-weight: 600;
        user-select: none;
    }
}
.item_left:hover {
    background-color: rgb(177 176 180);
}
.item_right {
    display: flex;
    width: 40%;
}
.item_right_delete {
}
.item_right_edit {
}
.delete_button_main {
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: 24px;
    height: 58px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 8px 0 8px;
    user-select: none;
}
.delete_button {
    width: 100%;
    height: 64px;
}
.delete_button:hover {
    opacity: 0.6;
}
.delete_button_main_p {
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 100%;
    text-align: center;
}
.item_add {
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 124px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 202, 47);
    border-radius: 4px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    user-select: none;
}
.item_add:hover {
    opacity: 0.6;
}
.add_button_main {
}
.add_button_main_p {
}
